.gfm-color-chip {
  width: 0.7rem;
  height: 0.7rem;
  margin-left: 0.3rem;
  display: inline-block;
  border-radius: 0.2rem;
}

.graphviz {
  text {
    fill: var(--sl-color-white);
  }
  [fill="black"],
  [fill="#000"] {
    fill: var(--sl-color-white);
  }
  [stroke="black"],
  [stroke="#000"] {
    stroke: var(--sl-color-white);
  }
}

/* needed if you use strategy: "inline" */
.mermaid svg {
  background: #fff;
  line-height: 1;
}

/* needed if you use strategy: "class-dark-mode" */
html[data-theme="light"] .beoe-dark {
  display: none;
}

html[data-theme="dark"] .beoe-light {
  display: none;
}

/* .beoe {
  @apply not-content;
} */
