.gfm-color-chip {
  width: 0.7rem;
  height: 0.7rem;
  margin-left: 0.3rem;
  display: inline-block;
  border-radius: 0.2rem;
}

.graphviz {
  text {
    fill: var(--sl-color-white);
  }
  [fill="black"] {
    fill: var(--sl-color-white);
  }
  [stroke="black"] {
    stroke: var(--sl-color-white);
  }
}

.mermaid svg {
  background: #fff;
  line-height: 1;
}

.datt {
  @apply not-content;
}
