.gfm-color-chip {
  width: 0.7rem;
  height: 0.7rem;
  margin-left: 0.3rem;
  display: inline-block;
  border-radius: 0.2rem;
}

.graphviz {
  text {
    fill: var(--sl-color-white);
  }
  [fill="black"],
  [fill="#000"] {
    fill: var(--sl-color-white);
  }
  [stroke="black"],
  [stroke="#000"] {
    stroke: var(--sl-color-white);
  }
}

.vizdom {
  :not([fill]) {
    fill: var(--sl-color-white);
  }
  [fill="black"],
  [fill="#000"] {
    fill: var(--sl-color-white);
  }
  [stroke="black"],
  [stroke="#000"] {
    stroke: var(--sl-color-white);
  }
  [fill="white"],
  [fill="#fff"] {
    fill: var(--sl-color-black);
  }
  [stroke="white"],
  [stroke="#fff"] {
    stroke: var(--sl-color-black);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 40;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.vizdom[data-graph] {
  .edge.active a path:first-child {
    stroke-dasharray: 5 5;
    animation-name: dash;
    animation-duration: 1000ms;
    stroke-dashoffset: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .shadow {
    opacity: 0.4;
  }

  .node {
    cursor: pointer;
  }

  .node.selected a *:first-child {
    stroke-width: 2px;
  }
}

@media (prefers-reduced-motion) {
  .vizdom[data-graph] {
    .edge.active a path:first-child {
      animation-duration: 4000ms;
    }
  }
}

/* this works if disable svgo option to convert everything to paths */
.vizdom {
  .node rect {
    rx: 7px;
  }
}

.graphviz[data-graph] {
  .edge.active path:first-child {
    stroke-dasharray: 5 5;
    animation-name: dash;
    animation-duration: 1000ms;
    stroke-dashoffset: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .node {
    cursor: pointer;
  }

  .node *:first-child {
    fill: var(--sl-color-black);
  }

  .node.selected *:first-child {
    stroke-width: 2px;
  }
}

@media (prefers-reduced-motion) {
  .graphviz[data-graph] {
    .edge.active path:first-child {
      animation-duration: 4000ms;
    }
  }
}

/* needed if you use strategy: "inline" */
.mermaid svg {
  line-height: 1;
}

/* needed if you use strategy: "img-class-dark-mode" */
html[data-theme="light"] .beoe-dark {
  display: none;
}

html[data-theme="dark"] .beoe-light {
  display: none;
}

/* .beoe {
  @apply not-content;
} */
